In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({"foo": [1, 2, 3], "bar": [4, 5, 6]})
df

   foo  bar
0    1    4
1    2    5
2    3    6

In [5]:
subset = df["foo"]
subset

2